<div class="top-content">
  <div class="top_content">
    <h1 class="text-center prism">Prism</h1>

    <div class="new-button-div">
      <%= link_to 'New Post', new_post_path, class:"new-button" %>
    </div>
  <% if notice %>
    <h3 id="notice" class="text-center notice"><%= notice %></h3>
  <% end %>

  <div id="img-carousel" class="owl-carousel">
    <% @posts.each do |post| %>
      <div class="item">
        <a href=<%= post_path(post) %>><img src=<%= post.images.first.filename.file.url %> class="pic-shadow"></a>
      </div>
    <% end %>
  </div>

  <div class="post-main text-center white-text">
    <h3>Recent Prism Uploads</h3>

    <% Post.last(3).each do |post| %>
      <div class="post-item">
        <h4><%= link_to post.title, post %></h4>
        <a href="/posts/<%= post.id %>"><img src="<%= post.images.first.filename.file.url %>" class="tiny-pic"></a>
        <p><%= link_to 'Listen', post %></p>
        <p><%= link_to 'New Post', new_post_path, class:"new-button" %></p>
      </div>
    <% end %>
  </div>
</div>
<!-- <div class="photoShow">
  <div class="current">
    <img src="/seedImages/rainbow_colors.png" >
  </div>
  <div>
    <img src="/seedImages/pixel_rainbow.png" >
  </div>
  <div>
    <img src="/seedImages/grayscale.png" >
  </div>
  <div>
    <img src="/seedImages/dark_sky.png" >
  </div>
  <div>
    <img src="/seedImages/northern_lights.png" >
  </div>
</div> -->
