<!DOCTYPE html>
<html>
<head>
  <title>Prism</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= Gon::Base.render_data %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="main-container">
<% unless @navigation == false%>
  <%= render '/layouts/navi' %>
<% end %>

  <%= yield %>

</div>

<%= render '/layouts/footer' %>


</body>
</html>
