<!DOCTYPE html>
<html>
<head>
  <title>Prism</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <%= Gon::Base.render_data %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless @navigation == false %>
  <%= render '/layouts/navi' %>
<% end %>
<div class="main-container">

  <%= yield %>

</div>

<% unless @navigation == false %>
  <%= render '/layouts/footer' %>
<% end %>

</body>
</html>
